@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold"),
    url(../fonts/Gilroy-ExtraBold.otf) format("opentype");
}

@font-face {
  font-family: "GilroyLight";
  src: local("GilroyLight"), url(../fonts/Gilroy-Light.otf) format("opentype");
}

.tiny-margin-right {
  margin-right: 2rem;
}

.small-margin-right {
  margin-right: 4rem;
}

.medium-margin-right {
  margin-right: 8rem;
}

.big-margin-right {
  margin-right: 16rem;
}

.tiny-margin-bottom {
  margin-bottom: 2rem;
}
.extra-small-margin-bottom {
  margin-bottom: 3rem;
}

.small-margin-bottom {
  margin-bottom: 4rem;
}

.medium-margin-bottom {
  margin-bottom: 8rem;
}

.big-margin-bottom {
  margin-bottom: 16rem;
}

.tiny-margin-top {
  margin-top: 2rem;
}

.small-margin-top {
  margin-top: 4rem;
}

.medium-margin-top {
  margin-top: 8rem;
}

.big-margin-top {
  margin-top: 16rem;
}

.flex-group {
  display: flex;
}
.flex-group-spaced {
  display: flex;
  justify-content: space-between;
}
